venv/
env/
*.env

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

logs/*
!logs/.gitkeep

reports/allure-results/
!reports/allure-results/
reports/*
!reports/allure-results/
!reports/.gitkeep

.idea/
.vscode/
*.swp